/* Write your CSS here */
.product-details-bg-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details-container {
  width: 100%;
  max-width: 992px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.product-image {
  width: 50%;
  border-radius: 10px;
}
.details-container {
  width: 50%;
  padding: 30px;
}
.title {
  color: #1e293b;
  font-family: roboto;
  font-size: 35px;
  font-weight: 500;
}
.price {
  color: #171f46;
  font-family: roboto;
  font-size: 16px;
  font-weight: bolder;
}
.rating-review-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.rating-container {
  height: 25px;
  width: 45px;
  background-color: #3b82f6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.rating {
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  margin-right: 4px;
}
.rating-icon {
  height: 14px;
}
.reviews {
  color: #1e293b;
  font-family: roboto;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}
.description {
  color: #475569;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
}
.available {
  color: #171f46;
  font-family: roboto;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0px;
}
.count-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.count-button {
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: transparent;
  padding: 0px;
  border-width: 0px;
  font-family: roboto;
  font-size: 12px;
  font-weight: 400;
  margin: 10px;
}

.count {
  color: #475569;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
}
.add-button {
  height: 30px;
  background-color: #3b82f6;
  color: #ffffff;
  font-family: roboto;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}
.similar-products-container {
  width: 100%;
  max-width: 992px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.similar-products-heading {
  color: #475569;
  font-family: roboto;
  font-size: 22px;
  font-weight: 500;
}
.list-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-container {
  width: 100%;
  max-width: 992px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-image {
  width: 100%;
  max-width: 400px;
}
.continue-shopping-button {
  height: 40px;
  color: #ffffff;
  background-color: #3b82f6;
  font-family: roboto;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border-width: 0px;
}
